:host {
    display: block
    position: relative
    font-size: 14px
    line-height: 18px
}

:host(:-webkit-full-screen) {
    height: 100%
    width: 100%
    background: #131313
}
.controlSet
    position absolute
    bottom 5
