:host {
    height: 500px
    display: block
    position: relative
}

:host(:-webkit-full-screen) {
    height: 100%
    width: 100%
    background: #131313
}
.controlSet
    position absolute
    bottom 5