/* application font */
core-scaffold
  -webkit-user-select: none
  -moz-user-select: none
  cursor: default
  font-family: sans-serif

core-scaffold::shadow core-toolbar
  background: #4285f4

core-toolbar
  background: #4285f4
  color: #fafafa

core-header-panel
  background: white

.content
  padding: 20px

.app-router
  position: relative