.timeline
  display block
  position fixed
  bottom 0
  left: 0
  height 0
  background #6e6e6e
  width 100%
  z-index 1
  padding 10px 5px 5px
  box-sizing border-box
  -webkit-transition: height 0.5s
  -moz-transition: height 0.5s
  -ms-transition: height 0.5s
  -o-transition: height 0.5s
  transition: height 0.5s

  &.active
    height 135px
    paper-fab
      opacity 1
  paper-fab
    opacity 0
    background #5677fc
    color #fff
    margin-right 1em
    position fixed
    right 0
    bottom 107px
    -webkit-transition: opacity 0.5s
    -moz-transition: opacity 0.5s
    -ms-transition: opacity 0.5s
    -o-transition: opacity 0.5s
    transition: opacity 0.5s
  .track
    position relative
    cursor pointer
    overflow hidden
    height 45px
    line-height 50px
    -webkit-border-radius: 5px
    -moz-border-radius 5px
    border-radius 5px
    padding 0 20px
    font-weight bold
    background: rgb(110,110,110); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(110,110,110,1) 0%, rgba(229,229,229,1) 50%, rgba(110,110,110,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,110,110,1)), color-stop(50%,rgba(229,229,229,1)), color-stop(100%,rgba(110,110,110,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(110,110,110,1) 0%,rgba(229,229,229,1) 50%,rgba(110,110,110,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(110,110,110,1) 0%,rgba(229,229,229,1) 50%,rgba(110,110,110,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(110,110,110,1) 0%,rgba(229,229,229,1) 50%,rgba(110,110,110,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(110,110,110,1) 0%,rgba(229,229,229,1) 50%,rgba(110,110,110,1) 100%); /* W3C */
    .time
      float right
    .title
      font-weight bold
    .progress-indicator
      position absolute
      left 0
      height 45px
      width 0
      background rgb(130,130,130)
      background: linear-gradient(to bottom,  rgba(130,130,130,1) 0%,rgba(239,239,239,1) 50%,rgba(130,130,130,1) 100%); /* W3C */
    span
      z-index 1
      position relative
      text-shadow 2px 2px 2px rgba(150, 150, 150, 1)
  .images
    display block
    height 80px
    overflow-x auto
    overflow-y hidden
    white-space: nowrap
    .image
      display inline-block
      vertical-align: top
      background: #000
      margin: 0 4px
      cursor: pointer
      width: 130px
      height: 80px
      overflow: hidden
      -webkit-animation: create 0.15s ease-out
      img
        display: block
        min-width: 100%
        min-height: 100%
        width: auto
        height: auto

@-webkit-keyframes create {
  0% {
    transform: scale(0)
    opacity:0
  }
  100% {
    opacity: 1
    transform: scale(1)
  }
}