.timeline
  display block
  position fixed
  bottom 0
  left: 0
  height 150px
  background #6e6e6e
  width 100%
  z-index 1
  overflow auto
  padding 5px
  box-sizing border-box
  .track
    height 70px
    line-height 70px
    .time
      float right
  .images
    display block
    height 80px
    .image
      display block
      float left
      background: #000
      margin: 4px
      cursor: pointer
      width: 130px
      height: 80px
      overflow: hidden
      img
        transform: translateY(-50%)
        position: relative