.photo-list {
    list-style: none
    margin: 0
    padding: 0

    &__item {
        background: #000
        float: left
        position: relative
        margin: 4px
        cursor: pointer
        width: 130px
        height: 80px
        overflow: hidden
        -webkit-animation: create 0.15s ease-out

        & > img {
            display: block
            opacity: 1
            transition: opacity 0.1s;
            min-width: 100%
            min-height: 100%
            width: auto
            height: auto
        }

        &.selected img {
            opacity: 0.5;
        }
    }

    &__add,
    &__remove  {
        width: 50px
        height: 50px
        left: 50%
        top: 50%
        margin: -25px 0 0 -25px
        position: absolute
        transition: opacity 0.2s
        display: none
    }

    &__add {
        display: block
        opacity: 0
        color: #8ace56
    }

    &__item.selected &__add {
        display: none
    }

    &__item.selected &__remove{
        display: block
    }

    &__remove {
        color: red
    }

    &__item:hover &__add {
        opacity: 1
    }

}

@-webkit-keyframes create {
    0% {
        transform: scale(0)
        opacity:0
    }
    100% {
        opacity: 1
        transform: scale(1)
    }
}

.header {
    margin: 0 0 20px;
}

.drop-down {
    float: right
    width: 20%
    margin: 0
}

.user-name {
    font-size: 22px
    line-height: 38px
    margin: 0
}