.photo-list {
    list-style: none
    margin: 0
    padding: 0

    &__item {
        background: #000
        float: left
        margin: 4px
        cursor: pointer
        width: 130px
        height: 80px
        overflow: hidden

        img {
            display: block
            opacity: 1
            transition: opacity 0.1s;
            min-width: 100%
            min-height: 100%
            width: auto
            height: auto
        }

        &.selected img{
            opacity: 0.5;
        }
    }
}

.header {
    margin: 0 0 20px;
}

.drop-down {
    float: right
    width: 20%
    margin: 0
}

.user-name {
    font-size: 22px
    line-height: 38px
    margin: 0
}