.container {
  vertical-align middle

  paper-input {
    width 100%
  }

  paper-button {
    width 25%
    float right
  }

  paper-dropdown {
    position absolute
    top 65px
    left 0
    width 100%
    height 300px
    overflow visible
  }

  paper-item {
    margin-top 5px
    font-size small
  }
}